# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.env

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Generated Data
# ----------------------------
data/
datasets/
logs/
checkpoints/
features/
outputs/

# ----------------------------
# Datasets
# ----------------------------
datasets/TIMIT/

# ----------------------------
# Model files
# ----------------------------
*.pt
*.pth
*.ckpt

# ----------------------------
# Misc
# ----------------------------
.DS_Store
Thumbs.db
*.wav
*.npy
*.npz